<div class="container">
  <mat-card class="cadastro-card">
    <h2>Cadastrar Investimento</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" />
        <mat-error *ngIf="form.get('nome')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="ACAO">Ação</mat-option>
          <mat-option value="FUNDO">Fundo</mat-option>
          <mat-option value="TITULO">Título</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tipo')?.hasError('required')">
          Tipo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Valor</mat-label>
        <input matInput type="number" min="0" formControlName="valor" />
        <mat-error *ngIf="form.get('valor')?.hasError('required')">
          Valor é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('valor')?.hasError('min')">
          Valor deve ser maior que 0
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Data do Investimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [max]="hoje"
          formControlName="data"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('data')?.hasError('required')">
          Data é obrigatória
        </mat-error>
        <mat-error *ngIf="form.get('data')?.hasError('dataInvalida')">
          Data não pode ser futura
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="button"
        [disabled]="form.invalid"
      >
        Cadastrar
      </button>
    </form>
  </mat-card>
</div>
